body
{
    background-color: #A6F0F2;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}

.header-title
{
    font-size: 64px;
    font-weight: 1000;
}

.main-body
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
}

.left-body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.selection-panel
{
    outline: 3px solid white;
    padding: 20px;
    border-radius: 10%;
}

.middle-body
{
    display: flex;
    flex-basis: 720px;
    justify-content: center;
    align-items: center;
    margin: 10px; /*This may cause issues with alignment in the future - just in case you don't know why!*/
}

#grid-container
{   
	font-size: 0;
    outline: 5px solid black;
    flex-basis: 720px;
}

.grid-item
{
	outline: 1px solid #000;
	display: inline-block;
    background-color: white;
}

.right-body
{
    display: flex;
    justify-content: flex-start;
    width: auto;
}

#resize-grid-btn
{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
}