*
{
    margin: 0;
    background-color: #A6F0F2;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}

.header-title
{
    font-size: 64px;
    font-weight: 1000;
}

.main-body
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70%;
}

.left-body
{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}

.selection-panel
{
    border: 3px solid white;
    padding: 20px;
    border-radius: 10%;
    height: 50%; /*redundant once text put in*/
    margin: 20px;
}

.middle-body
{
    display: flex;
    width: 960px;
    justify-content: center;
    align-items: center;
    margin: 10px; /*This may cause issues with alignment in the future - just in case you don't know why!*/
}

#grid-container
{   
	font-size: 0;
    outline: 5px solid black;
}

.grid-item
{
	outline: 1px solid #000;
	display: inline-block;
}

.right-body
{
    display: flex;
    width: 20%;
}